    <header class="header">
        <div class="logo">
            <img src="https://i.imgur.com/OzTdfKf.png" alt="Spital Logo" (click)="onLogoClick()">
        </div>
        <div class="contact-info">
        
            <div class="text-container">
                <p><strong>Telefon:</strong>  0332 803 873 / 0332 083 793</p>
                <p><strong>Email:</strong> info&#64;medicanova-hospital.ro</p>
                <p><strong>Telefon Pacient:</strong> +40 987 654 321</p>
            </div>
                <button class="button toggle-auth" (click)="toggleAuth()">
                {{ isAuthenticated() ? 'Logout' : 'Login' }}
              </button>
              <button *ngIf="!isAuthenticated()" class="button toggle-auth" (click)="onRegister()">
                Register
            </button>        </div>
    </header>
    