/*  Stil pentru containerul grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

 /* Stil pentru card */
.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
}

/* Efect hover */
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*  Stil pentru antetul cardului */
.card-header {
    background: linear-gradient(to right, rgb(245, 71, 71), rgb(163, 26, 26));
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

/*  Stil pentru tooltip */
.tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .tooltip {
    opacity: 1;
}
h1{
    display: flex;
    justify-content: center;
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}