<h3 class="dialog-title">Detalii Programare</h3>


<div class="dialog-content">
  <div *ngIf="role === 'Doctor' && appointment.status !== 'Programat' && appointment.status !== 'Respins'">
    <label for="price">Preț consultație:</label>
    <input
      id="price"
      type="number"
      [(ngModel)]="price"
      placeholder="Ex: 150"
      min="0"
      required
    />
  </div>
  <div class="details-grid">
 
    <div class="detail-item">
      <strong>Status</strong>
      <span>{{ appointment.status }}</span>
    </div>
    <div class="detail-item">
      <strong>Data</strong>
      <span>{{ appointment.date }}</span>
    </div>
    <div class="detail-item">
      <strong>Ora de incepere</strong>
      <span>{{appointment.startTime}} </span>
    </div>
    <div class="detail-item">
        <strong>Ora de terminare</strong>
        <span>{{ appointment.endTime }} </span>
      </div>
  </div>
</div>

<div class="dialog-actions">
  <button 
  *ngIf="role === 'Doctor'" 
    class="accept-btn" 
    (click)="onAccept()" 
    [disabled]="appointment.status === 'programat' || appointment.status === 'anulat' || appointment.status ==='respins'">
    Acceptă
  </button>

  <button 
  *ngIf="role === 'Doctor'" 
    class="reject-btn" 
    (click)="onReject()" 
    [disabled]="appointment.status === 'programat' || appointment.status === 'anulat' || appointment.status ==='respins'">
    Respinge
  </button>
    <!-- Butonul de ștergere pentru Admin -->
    <button *ngIf="role === 'Admin'" class="reject-btn" (click)="onDeleteAppointment()">
      Șterge Programarea
    </button>
</div>
