/* Container pentru layout */
.custom-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px; 
}

@media (min-width: 768px) {
    .custom-container {
        flex-direction: row;
    }
}

/* Cards */
.custom-card,
.custom-card1,
.custom-card2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Face ca elementele din interior să se distribuie */
    min-height: 200px; /* Ajustează după necesități */
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Header card */
.custom-card-header {
    background: linear-gradient(to right, rgb(245, 71, 71), rgb(163, 26, 26));
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
}

/* Back button */
.custom-back-button {
    background-color:transparent;
    color: gray; 
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(74, 74, 74, 0.8); 
}

.custom-back-button:hover {
    color: #2d2d2d;
    background-color: white;
}

.arrow-icon {
    margin-right: 8px; 
    font-size: 20px;
}


/* Stil pentru mesajele de eroare */
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}


.appointments-list {
    list-style: none;
    padding: 0;
}

.appointment-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.appointment-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}


.status-scheduled {
    color: green !important;
}

.status-pending {
    color: orange;
}

.status-rejected {
    color: red;
}

.no-appointments-message{
    display:flex;
    justify-content:center;
    margin-bottom: 30px;
}

.status {
    font-weight: bold;
}



/* Form */
.form-group {
    margin-top: 15px;
}

/* Etichete */
.form-group label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Input-uri */
.form-control {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

/* Efect de focus */
.form-control:focus {
    border-color: #ff4b2b;
    box-shadow: 0 0 5px rgba(255, 75, 43, 0.5);
}

/* Mesaje de eroare */
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

/* Buton programeaza */
.custom-button {
    background-color: #dc2626; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;    width: 100%;
    margin-top: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 3.8);

}

/* Efect hover */
.custom-button:hover {
    background-color: white;
    color: #444;}

/* Dezactivare buton */
.custom-button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.cancel-button{
    background-color:#ccc; 
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;    width: 100%;
    margin-top: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 3.8);
}
.cancel-button:hover{
    background: white;
}
