.doctors-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.doctor-card {
    background: #f4f4f4;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

h2{
    color: #dc2626;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    font-size:30px;
}

.doctor-card h3 {
    margin: 5px 0;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
}

.doctor-card p {
    font-size: 14px;
    color: #666;
}



button {
    background-color: #dc2626;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    border: none;
    margin: 20px;
    height: 40px;
    width: 110px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 3.8);
}

button:hover {
    background-color: white;
    color: black;
    
}

.no-doctors {
    color: #dc2626;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font-size: 20px;
}
